langchain
langchain-core
langchain-community

langchain-google-genai
langchain-mistralai


langchain-huggingface
sentence-transformers

langchain-chroma
chromadb

yt-dlp
faster-whisper

pydub

streamlit
python-dotenv